{{#each this}}
<div class="card">
    <h1 class="header">${this.name}</h1>
    <img src='${flag}' alt='Flag of ${name}'></img>
    <ul>
        <li><span class="card-item">Capital:</span> ${this.capital}</li>
    <li><span class="card-item">Population:</span> ${this.population}</li>
    <li><span class="card-item">Languages:</span> ${this.languages}</li>
    <ul>
         {{#each this}}
         <li class="list-item">${name}</li>
    {{/each}}
    </ul>
   
    </ul>
    
</div>
{{/each}}